<div class="main">
    <div class="left">
        <div class="title">
            手机扫码，安全登录
        </div>
        <div class="qrcode">
            <img src="{{qrCode}}" alt="">
        </div>
        <div class="notice">
            扫码可登录可注册
        </div>
    </div>
    <div login-key-listener class="right">
        <div class="title">
            账号登录
        </div>
        <div class="loginInfo" id="loginInfo">
            <label>用户名称</label>
            <div>
                <input class="keyListener" idx="0" ng-focus="inputFocus($event)" ng-blur="inputBlur($event)"
                       ng-model="credentials.username" type="text" placeholder="请输入账号/手机号">
            </div>
        </div>
        <div class="loginInfo">
            <label>登录密码</label>
            <div>
                <input class="keyListener" idx="1" ng-focus="inputFocus($event)" ng-blur="inputBlur($event)"
                       ng-model="credentials.password" type="password" placeholder="请输入密码">
            </div>

        </div>
        <div tabindex="-1" class="submit keyListener" idx="2">
            登录
        </div>
    </div>
</div>