* {
    margin: 0;
    padding: 0;
    outline: none;
}

ul, li {
    list-style: none;
}

body {
    width: 1280px;
    height: 720px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    background: url("../imgs/index/bg.png") 0 0 no-repeat;
    font-family: "黑体";
}

/*index*/
.index.header {
    width: 1280px;
    height: 70px;
    overflow: hidden;
    background-color: #E72432;
    position: relative;
}

.index.header div {
    float: left;
}

.index.header .left {
    width: 91px;
    height: 22px;
    margin: 32px 50px;
}

.index.header .middle {
    width: 656px;
    height: 50px;
    line-height: 50px;
    margin-top: 19px;
    margin-left: 121px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;

}

.index.header .right {
    width: 212px;
    height: 38px;
    margin: 30px 50px;
}

.index.user {
    width: 1180px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.index.user div {
    float: left;
}

.index.user .userInfo {
    height: 50px;
    line-height: 50px;
    width: 250px;
    font-size: 18px;
}

.index.user .userInfo div {
    margin-right: 20px;
    float: left;
}

.index.user .winInfos {
    width: 488px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-left: 116px;
}

.index.user .winInfos img {
    margin: 7px 5px 0;
    display: block;
}

.index.user .winInfos .wrapper {
    position: absolute;
    width: 423px;
    top: 0;
    left: 65px;
    overflow: hidden;
}

.index.user .winInfos ul {
    float: left;
    transition: all 1s;
    position: relative;
    top: 0;
    left: 0;
}

.index.user .winInfos ul li {
    float: left;
    width: 400px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    margin-right: 23px;
}

.index.user .menus {
    width: 306px;
    height: 50px;
    margin-left: 20px;
}

.index.user .menus ul {
    width: 306px;
    height: 50px;
}

.index.user .menus li {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 10px 1px;
    text-align: center;
    background-color: #e72432;
    color: #FFFFFF;
}

.index.user .menus li:focus {
    background-color: #890a14;
}

.index.blackBlinds {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.index.appNotice {
    width: 508px;
    height: 330px;
    background-color: #FFFFFF;
    position: absolute;
    top: 195px;
    left: 386px;
    z-index: 101;
    border-radius: 10px;
    color: #1f1f1f;
}

.index.appNotice > div {
    float: left;
}

.index.appNotice .top {
    width: 100%;
    height: 63px;
    line-height: 63px;
    text-align: center;
    background-color: #F1F1F1;
    font-size: 24px;
    border-radius: 10px 10px 0 0;
}

.index.appNotice .middle {
    width: 100%;
    height: 180px;
}

.index.appNotice .middle .notice {
    width: 100%;
    height: 100px;
    line-height: 100px;
    font-size: 32px;
    text-align: center;
    margin-top: 40px;
}

.index.appNotice .bottom {
    width: 100%;
    height: 87px;
}

.index.appNotice .bottom .button {
    width: 350px;
    height: 60px;
    line-height: 60px;
    background-color: #E72432;
    border-radius: 10px;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
    font-size: 26px;
}

.index.appNotice .bottom .time {
    width: 350px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.page {
    height: 650px;
    width: 1280px;
    transition: all 1s;
    position: absolute;
}

/*home*/
.pageHome .logo {
    display: block;
    margin: 35px auto;
}

.pageHome .menus {
    width: 855px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
}

.pageHome .menus li {
    width: 257px;
    height: 147px;
    margin: 12px;
    border: 2px solid transparent;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}

.pageHome .menus li:focus {
    border: 2px solid #FFFFFF;
    box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.1);
}

/*login*/
.pageLogin .main {
    width: 700px;
    height: 290px;
    margin: 100px auto;
}

.pageLogin .main > div {
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
}

.pageLogin .left {
    float: left;
    width: 306px;
    height: 288px;
    color: #1f1f1f;
}

.pageLogin .left .title {
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    width: 266px;
    margin: 10px 20px;
    text-align: center;
}

.pageLogin .left .qrcode {
    width: 140px;
    height: 140px;
}

.pageLogin .left .notice {
    width: 306px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.pageLogin .right {
    float: right;
    width: 376px;
    height: 288px;
}

.pageLogin .right .title {
    height: 50px;
    line-height: 50px;
    font-size: 22px;
    width: 336px;
    margin: 10px 20px;
    text-align: center;
}

.pageLogin .right .loginInfo {
    width: 336px;
    height: 50px;
    margin: 10px 20px;
}

.pageLogin .right .loginInfo label {
    float: left;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 19px;
    color: #898586;
}

.pageLogin .right .loginInfo > div {
    float: left;
    border: 1px solid #DBDBDB;
    height: 44px;
    line-height: 44px;
    width: 230px;
    background-color: #FBFBFB;
    margin-top: 2px;
}

.pageLogin .right .loginInfo > div input {
    border: none;
    background-color: #FBFBFB;
    height: 44px;
    line-height: 44px;
    font-size: 19px;
    width: 200px;
    margin: 0 auto;
    display: block;
}

.pageLogin .right .submit {
    width: 210px;
    height: 50px;
    background-color: #EDEDED;
    line-height: 50px;
    text-align: center;
    margin: 30px auto 0;
    font-size: 20px;
    border: 1px solid #DBDBDB;
    color: #1f1f1f;
}

.pageLogin .right .submit:focus {
    background-color: #E72432;
    color: #FFFFFF;
}

/*fuCaiIndex*/
.pageFuCaiIndex .main {
    width: 1180px;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
}

.pageFuCaiIndex .main .video {
    float: left;
    width: 464px;
    height: 384px;
    margin: 8px;
}

.pageFuCaiIndex .main .video video {
    width: 100%;
    height: 100%;
    background: #000000;
}

.pageFuCaiIndex .main .lotteryList {
    float: left;
    width: 700px;
    height: 100%;
}

.pageFuCaiIndex .main .lotteryList li {
    float: left;
    width: 330px;
    margin: 8px;
    border: 2px solid #EBEAEB;
    height: 80px;
    overflow: hidden;
    border-radius: 2px;
}

.pageFuCaiIndex .main .lotteryList li:focus {
    border: 2px solid #E93E4A;
    box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.1);
}

.pageFuCaiIndex .main .lotteryList li .top {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
}

.pageFuCaiIndex .main .lotteryList li .top .logo {
    float: left;
    width: 76px;
    height: 50px;
}

.pageFuCaiIndex .main .lotteryList li .top div {
    float: left;
    height: 50px;
}

.pageFuCaiIndex .main .lotteryList li .top .notice {
    width: 140px;
    height: 40px;
    line-height: 20px;
    margin: 5px;
}

.pageFuCaiIndex .main .lotteryList li .top .money {
    width: 104px;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.pageFuCaiIndex .main .lotteryList li .bottom {
    width: 100%;
    height: 30px;
    background-color: #F6F6F6;
}

.pageFuCaiIndex .main .lotteryList li .bottom div {
    float: left;
    height: 30px;
}

.pageFuCaiIndex .main .lotteryList li .bottom .notice {
    width: 160px;
    margin-left: 81px;
    line-height: 30px;
    font-size: 14px;
}

.pageFuCaiIndex .main .lotteryList li .bottom .time {
    width: 89px;
}

.pageFuCaiIndex .main .lotteryList li .bottom .time div {
    float: left;
    height: 20px;
    margin: 5px 0;
    line-height: 20px;
}

.pageFuCaiIndex .main .lotteryList li .bottom .time .num {
    color: #FFFFFF;
    margin: 5px 0;
    width: 20px;
    background-color: #000000;
    text-indent: 1px;
    text-align: center;
}

.pageFuCaiIndex .banner {
    width: 1219px;
    height: 132px;
    margin: 0 auto;
}

/*kuai3Index*/
.pageKuai3Index .top {
    width: 804px;
    height: 260px;
    overflow: hidden;
    margin: 20px auto;
    background-color: #E72432;
    color: #FFFFFF;
    font-size: 24px;
    text-indent: 2px;
}

.pageKuai3Index .top > div {
    float: left;
    width: 401px;
    margin: 30px 0;
    height: 200px;
}

.pageKuai3Index .top .middle {
    width: 1px;
    border-left: 1px dashed #292929;
    opacity: 0.3;
    height: 170px;
    margin: 45px 0;
}

.pageKuai3Index .top .text {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.pageKuai3Index .top .notice {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.pageKuai3Index .top .left .craps {
    width: 240px;
    height: 80px;
    margin: 0 auto;
}

.pageKuai3Index .top .left .craps img {
    width: 58px;
    height: 58px;
    margin: 11px 11px;
    float: left;
}

.pageKuai3Index .top .right .time {
    width: 120px;;
    height: 80px;
    margin: 0 auto;
}

.pageKuai3Index .top .right .time div {
    float: left;
    height: 50px;
    width: 20px;
    line-height: 50px;
    margin-top: 15px;
    color: #000000;
    font-size: 32px;
    text-indent: 1px;
    text-align: center;
}

.pageKuai3Index .top .right .time .num {
    color: #FFFFFF;
    width: 50px;
    background-color: #000000;

}

.pageKuai3Index .bottom {
    width: 822px;
    height: 212px;
    overflow: hidden;
    margin: 0 auto;
}

.pageKuai3Index .bottom li {
    float: left;
    width: 150px;
    height: 90px;
    margin: 6px 5px;
    border: 2px solid transparent;
}

.pageKuai3Index .bottom li:focus {
    border: 2px solid #FFFFFF;
    box-shadow: 3px 4px 20px 3px rgba(0, 0, 0, 0.1);
}

/*kuai3Buy*/
.pageKuai3Buy {
    color: #1f1f1f;
}

.pageKuai3Buy > .title {
    height: 40px;
    margin: 10px auto;
    line-height: 40px;
    width: 500px;
    text-align: center;
    font-size: 34px;
}

.pageKuai3Buy > .top {
    width: 806px;
    height: 130px;
    overflow: hidden;
    margin: 10px auto;
    background-color: #EDEDED;
    color: #FFFFFF;
    font-size: 26px;
    text-indent: 2px;
}

.pageKuai3Buy .top div {
    float: left;
}

.pageKuai3Buy .top > div {
    float: left;
    width: 400px;
    height: 130px;
}

.pageKuai3Buy .top .middle {
    width: 5px;
    border-left: 1px dashed #c0bfc0;
    height: 95px;
    margin: 15px 0;
}

.pageKuai3Buy .top .text {
    width: 110px;
    height: 110px;
    line-height: 58px;
    text-align: center;
    color: #828282;
    margin-top: 20px;
}

.pageKuai3Buy .top .notice {
    width: 240px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    color: #000000;
}

.pageKuai3Buy .top .left .craps {
    width: 240px;
    height: 58px;
    margin: 20px auto 0;
}

.pageKuai3Buy .top .left .craps img {
    width: 58px;
    height: 58px;
    margin: 0 11px;
    float: left;
}

.pageKuai3Buy .top .right .time {
    width: 120px;;
    height: 58px;
    margin: 20px 60px 0;
}

.pageKuai3Buy .top .right .time div {
    float: left;
    height: 50px;
    width: 20px;
    line-height: 50px;
    margin-top: 4px;
    color: #000000;
    font-size: 32px;
    text-indent: 1px;
    text-align: center;
}

.pageKuai3Buy .top .right .time .num {
    color: #FFFFFF;
    width: 50px;
    background-color: #000000;

}

.pageKuai3Buy > .middle {
    width: 806px;
    margin: 20px auto 0;
}

.pageKuai3Buy > .bottom {
    width: 806px;
    height: 95px;
    position: absolute;
    top: 460px;
    left: 237px;
    overflow: hidden;
}

.pageKuai3Buy > .bottom .submit {
    width: 244px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    background-color: #E72432;
    color: #FFFFFF;
    font-size: 26px;
    text-align: center;
}

.pageKuai3Buy > .bottom .notice {
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 10px auto;
    color: #e72432;
}

.pageKuai3Buy > .middle .hezhi {
    width: 804px;
    height: 90px;
    border: 1px solid #DBDBDB;
    background-color: #EDEDED;
}

.pageKuai3Buy > .middle .hezhi div {
    float: left;
    text-align: center;
}

.pageKuai3Buy > .middle .hezhi li {
    float: left;
    width: 52px;
    height: 90px;
    text-align: center;
}

.pageKuai3Buy > .middle .hezhi li:focus .num {
    background-color: #E72432;
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .hezhi li:first-child {
    width: 76px;
    height: 90px;
    line-height: 90px;
    font-size: 25px;
    border: none;
}

.pageKuai3Buy > .middle .hezhi li:first-child:focus {
    background-color: #E72432;
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .hezhi li .num {
    width: 51px;
    height: 55px;
    line-height: 55px;
    border-left: 1px solid #DBDBDB;
    font-size: 24px;
}

.pageKuai3Buy > .middle .hezhi li .money {
    height: 34px;
    line-height: 34px;
    width: 51px;
    border-top: 1px solid #DBDBDB;
    border-left: 1px solid #DBDBDB;
    font-size: 19px;
}

.pageKuai3Buy > .middle .santonghao {
    width: 804px;
    height: 110px;
    border: 1px solid #DBDBDB;
    background-color: #EDEDED;
}

.pageKuai3Buy > .middle .santonghao div {
    float: left;
    text-align: center;
}

.pageKuai3Buy > .middle .santonghao li {
    width: 110px;
    height: 110px;
    border-left: 1px solid #DBDBDB;
    float: left;
}

.pageKuai3Buy > .middle .santonghao li:focus {
    background-color: #E72432;
}

.pageKuai3Buy > .middle .santonghao li:focus .money {
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .santonghao li:first-child {
    width: 138px;
    height: 110px;
    border: none;
}

.pageKuai3Buy > .middle .santonghao li:first-child:focus {
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .santonghao li:first-child:focus .notice {
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .santonghao li:first-child .title {
    width: 138px;
    height: 35px;
    line-height: 35px;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    float: none;
}

.pageKuai3Buy > .middle .santonghao li:first-child .notice {
    width: 115px;
    height: 60px;
    line-height: 20px;
    margin: 0 auto;
    float: none;
    font-size: 19px;
    color: #828282;
}

.pageKuai3Buy > .middle .santonghao li .craps {
    width: 110px;
    height: 33px;
    margin: 30px 0 5px;
}

.pageKuai3Buy > .middle .santonghao li .craps img {
    margin-left: 2px;
}

.pageKuai3Buy > .middle .santonghao li .money {
    width: 110px;
    height: 30px;
    line-height: 30px;
    color: #828282;
}

.pageKuai3Buy > .middle .sanlianhao {
    width: 256px;
    height: 110px;
    margin: 0 auto;
    background-color: #EDEDED;
    border: 1px solid #DBDBDB;
}

.pageKuai3Buy > .middle .common {
    width: 256px;
    height: 110px;
    text-align: center;
    font-size: 20px;
    float: left;
}

.pageKuai3Buy > .middle .common:focus {
    background-color: #E72432;
    color: #FFFFFF;
    box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.1);
}

.pageKuai3Buy > .middle .common:focus .notice, .pageKuai3Buy > .middle .common:focus .money {
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .common .title {
    width: 256px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}

.pageKuai3Buy > .middle .common .notice {
    width: 256px;
    height: 30px;
    line-height: 30px;
    color: #828282;
}

.pageKuai3Buy > .middle .common .money {
    width: 256px;
    height: 30px;
    line-height: 30px;
    color: #828282;
}

.pageKuai3Buy > .middle .renxuan {
    width: 804px;
    height: 131px;
}

.pageKuai3Buy > .middle .renxuan > div {
    float: left;
    background-color: #EDEDED;
    overflow: hidden;
}

.pageKuai3Buy > .middle .renxuan .random {
    width: 201px;
    height: 100%;
}

.pageKuai3Buy > .middle .renxuan .random .craps {
    width: 101px;
    height: 28px;
    background: url("../imgs/kuai3/craps_random_renxuan.png") no-repeat;
    margin: 30px auto 20px;
}

.pageKuai3Buy > .middle .renxuan .random:focus {
    background-color: #E72432;
}

.pageKuai3Buy > .middle .renxuan .random:focus .craps {
    background: url("../imgs/kuai3/craps_random_renxuan_focus.png") no-repeat;
}

.pageKuai3Buy > .middle .renxuan .random:focus .title {
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .renxuan .random .title {
    width: 201px;
    height: 30px;
    line-height: 30px;
    font-size: 26px;
    text-align: center;
}

.pageKuai3Buy > .middle .renxuan .choice {
    width: 189px;
    height: 130px;
    margin-left: 11px;
    border: 1px solid #D1D1D1;
    border-left: none;
}

.pageKuai3Buy > .middle .renxuan .choice .title {
    width: 188px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 19px;
    border-left: 1px solid #D1D1D1
}

.pageKuai3Buy > .middle .renxuan .choice li {
    float: left;
    width: 62px;
    height: 44px;
    border-top: 1px solid #D1D1D1;
    border-left: 1px solid #D1D1D1;
}

.pageKuai3Buy > .middle .renxuan .choice li img {
    margin-left: 15px;
    margin-top: 6px;
}

.pageKuai3Buy > .middle .jixuan {
    width: 806px;
    height: 235px;
    overflow: hidden;
}

.pageKuai3Buy > .middle .jixuan .random_renxuan, .pageKuai3Buy > .middle .jixuan .random_hezhi {
    width: 208px;
    height: 106px;
    background-color: #C0C0C0;
    float: left;
    border: 1px solid #B5B5B5;
}

.pageKuai3Buy > .middle .jixuan .random_renxuan {
    margin-left: 178px;
}

.pageKuai3Buy > .middle .jixuan .random_renxuan .craps {
    width: 84px;
    height: 20px;
    background: url("../imgs/kuai3/craps_random_renxuan2.png") no-repeat;
    margin: 25px auto 15px;
}

.pageKuai3Buy > .middle .jixuan .random_renxuan .title {
    width: 208px;
    height: 30px;
    line-height: 30px;
    font-size: 26px;
    text-align: center;
    color: #1f1f1f;
}

.pageKuai3Buy > .middle .jixuan .random_renxuan:focus {
    box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.1);
    background-color: #E72432;
}

.pageKuai3Buy > .middle .jixuan .random_renxuan:focus .craps {
    background: url("../imgs/kuai3/craps_random_renxuan2_focus.png") no-repeat;
}

.pageKuai3Buy > .middle .jixuan .random_renxuan:focus .title {
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .jixuan .random_hezhi {
    margin-left: 30px;
}

.pageKuai3Buy > .middle .jixuan .random_hezhi .craps {
    width: 84px;
    height: 20px;
    background: url("../imgs/kuai3/craps_random_hezhi.png") no-repeat;
    margin: 25px auto 15px;
}

.pageKuai3Buy > .middle .jixuan .random_hezhi .title {
    width: 208px;
    height: 30px;
    line-height: 30px;
    font-size: 26px;
    text-align: center;
    color: #1f1f1f;
}

.pageKuai3Buy > .middle .jixuan .random_hezhi:focus {
    box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.1);
    background-color: #E72432;
}

.pageKuai3Buy > .middle .jixuan .random_hezhi:focus .craps {
    background: url("../imgs/kuai3/craps_random_hezhi_focus.png") no-repeat;
}

.pageKuai3Buy > .middle .jixuan .random_hezhi:focus .title {
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .jixuan .random_result {
    width: 436px;
    height: 105px;
    border: 2px dotted #c0bfc0;
    border-radius: 20px;
    float: left;
    margin: 18px 183px 0;
    background-color: #EDEDED;

}

.pageKuai3Buy > .middle .jixuan .random_result .title {
    width: 436px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 26px;
    margin-top: 15px;
    color: #1f1f1f;
}

.pageKuai3Buy > .middle .jixuan .random_result .renxuan_result {
    width: 200px;
    height: 60px;
    margin: 0 auto;
}

.pageKuai3Buy > .middle .jixuan .random_result .renxuan_result div {
    float: left;
}

.pageKuai3Buy > .middle .jixuan .random_result .renxuan_result .label {
    width: 65px;
    line-height: 60px;
    color: #E72432;
    font-size: 26px;
}

.pageKuai3Buy > .middle .jixuan .random_result .renxuan_result .craps {
    width: 135px;
    margin-top: 10px;
}

.pageKuai3Buy > .middle .jixuan .random_result .renxuan_result img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    float: left;
}

.pageKuai3Buy > .middle .jixuan .random_result .hezhi_result {
    width: 130px;
    height: 60px;
    margin: 0 auto;
}

.pageKuai3Buy > .middle .jixuan .random_result .hezhi_result div {
    float: left;
}

.pageKuai3Buy > .middle .jixuan .random_result .hezhi_result div {
    width: 65px;
    line-height: 60px;
    color: #E72432;
    font-size: 26px;
    text-align: center;
}

.pageKuai3OrderConfirm {
    color: #1f1f1f;
}

.pageKuai3OrderConfirm > .title {
    height: 40px;
    margin: 20px auto;
    line-height: 40px;
    width: 500px;
    text-align: center;
    font-size: 34px;
}

.pageKuai3OrderConfirm .top {
    width: 804px;
    height: 260px;
    margin: 0 auto;
    background-color: #DE0438;
}

.pageKuai3OrderConfirm .top > div {
    float: left;
}

.pageKuai3OrderConfirm .top .left {
    width: 275px;
    height: 100%;
    background-color: #E72432;
}

.pageKuai3OrderConfirm .top .left > div {
    margin: 15px 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
}

.pageKuai3OrderConfirm .top .left .text {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
}

.pageKuai3OrderConfirm .top .left .notice {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.pageKuai3OrderConfirm .top .left .time {
    width: 120px;;
    height: 80px;
    margin: 0 auto;
}

.pageKuai3OrderConfirm .top .left .time div {
    float: left;
    height: 50px;
    width: 20px;
    line-height: 50px;
    margin-top: 15px;
    color: #000000;
    font-size: 32px;
    text-indent: 1px;
    text-align: center;
}

.pageKuai3OrderConfirm .top .left .time .num {
    color: #FFFFFF;
    width: 50px;
    background-color: #000000;

}

.pageKuai3OrderConfirm .top .right {
    width: 529px;
    height: 100%;
}

.pageKuai3OrderConfirm .top .right > div {
    height: 140px;
    margin: 60px 0;
    float: left;
}

.pageKuai3OrderConfirm .top .right .bettingWay {
    width: 264px;
}

.pageKuai3OrderConfirm .top .right .craps {
    width: 264px;
    border-left: 1px solid #B60A30;
}

.pageKuai3OrderConfirm .top .right .title {
    width: 264px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #1f1f1f;

}

.pageKuai3OrderConfirm .top .right .content {
    font-size: 22px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #FFFFFF;
}

.pageKuai3OrderConfirm .middle {
    width: 804px;
    height: 90px;
    margin: 30px auto;
}

.pageKuai3OrderConfirm .middle div {
    float: left;
}

.pageKuai3OrderConfirm .middle .multiple {
    width: 270px;
    height: 88px;
    border: 1px solid #DBDBDB;
    background-color: #EDEDED;
}

.pageKuai3OrderConfirm .middle .multiple div:nth-child(1) {
    width: 231px;
    height: 100%;
    border-right: 1px solid #DBDBDB;
    line-height: 88px;
    text-align: center;
    font-size: 26px;
}

.pageKuai3OrderConfirm .middle .multiple div:nth-child(2) {
    width: 38px;
    height: 28px;
    background: url("../imgs/kuai3/arrow_up.png") no-repeat;
}

.pageKuai3OrderConfirm .middle .multiple div:nth-child(3) {
    width: 38px;
    height: 30px;
    line-height: 32px;
    text-align: center;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    font-size: 22px;
}

.pageKuai3OrderConfirm .middle .multiple div:nth-child(4) {
    width: 38px;
    height: 28px;
    background: url("../imgs/kuai3/arrow_down.png") no-repeat;
}

.pageKuai3OrderConfirm .middle .money {
    width: 264px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #E72432;
    font-size: 30px;
}

.pageKuai3OrderConfirm .middle .submit {
    width: 264px;
    height: 88px;
    border: 1px solid #DBDBDB;
    background-color: #EDEDED;
    text-align: center;
    line-height: 88px;
    font-size: 26px;
}

.pageKuai3OrderConfirm .middle .submit:focus {
    background-color: #E72432;
    color: #FFFFFF;
    box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.1);
}

.pageKuai3OrderConfirm .bottom {
    width: 804px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 40px auto;
    color: #E72432;
    font-size: 24px;
}