* {
    margin: 0;
    padding: 0;
    outline: none;
}

ul, li {
    list-style: none;
}

body {
    width: 1280px;
    height: 720px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    background: url("../imgs/index/bg.png") 0 0 no-repeat;
    font-family: "黑体";
}

/*index*/
.index.header {
    width: 1280px;
    height: 70px;
    overflow: hidden;
    background-color: #E72432;
    position: relative;
}

.index.header div {
    float: left;
}

.index.header .left {
    width: 91px;
    height: 22px;
    margin: 32px 50px;
}

.index.header .middle {
    width: 656px;
    height: 50px;
    line-height: 50px;
    margin-top: 19px;
    margin-left: 121px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;

}

.index.header .right {
    width: 212px;
    height: 38px;
    margin: 30px 50px;
}

.index.user {
    width: 1180px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.index.user div {
    float: left;
}

.index.user .userInfo {
    height: 50px;
    line-height: 50px;

}

.index.user .userInfo div {
    margin-right: 20px;
    float: left;
}

.index.user .winInfos {
    width: 488px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-left: 150px;
}

.index.user .winInfos img {
    margin: 7px 5px 0;
    display: block;
}

.index.user .winInfos .wrapper {
    position: absolute;
    width: 423px;
    top: 0;
    left: 65px;
    overflow: hidden;
}

.index.user .winInfos ul {
    float: left;
    transition: all 1s;
    position: relative;
    top: 0;
    left: 0;
}

.index.user .winInfos ul li {
    float: left;
    width: 400px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    margin-right: 23px;
}

.index.user .func {
    width: 306px;
    height: 50px;
    margin-left: 20px;
}

.index.user .func ul {
    width: 306px;
    height: 50px;
}

.index.user .func li {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 10px 1px;
    text-align: center;
    background-color: #e72432;
    color: #FFFFFF;
}

.index.user .func li:focus {
    background-color: #890a14;
}

.page {
    height: 650px;
    width: 1280px;
    transition: all 1s;
    position: relative;
}

/*home*/
.page.pageHome .logo {
    display: block;
    margin: 35px auto;
}

.page.pageHome .menus {
    width: 855px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
}

.page.pageHome .menus li {
    width: 257px;
    height: 147px;
    margin: 12px;
    border: 2px solid transparent;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}

.page.pageHome .menus li:focus {
    border: 2px solid #FFFFFF;
    box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.1);
}

/*welfareList*/
.page.pageWelfareList .main {
    width: 1180px;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
}

.page.pageWelfareList .main .video {
    float: left;
    width: 464px;
    height: 384px;
    margin: 8px;
}

.page.pageWelfareList .main .video video {
    width: 100%;
    height: 100%;
    background: #000000;
}

.page.pageWelfareList .main .lotteryList {
    float: left;
    width: 700px;
    height: 100%;
}

.page.pageWelfareList .main .lotteryList li {
    float: left;
    width: 330px;
    margin: 8px;
    border: 2px solid #EBEAEB;
    height: 80px;
    overflow: hidden;
    border-radius: 2px;
}

.page.pageWelfareList .main .lotteryList li:focus {
    border: 2px solid #E93E4A;
    box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.1);
}

.page.pageWelfareList .main .lotteryList li .top {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
}

.page.pageWelfareList .main .lotteryList li .top .logo {
    float: left;
    width: 76px;
    height: 50px;
}

.page.pageWelfareList .main .lotteryList li .top div {
    float: left;
    height: 50px;
}

.page.pageWelfareList .main .lotteryList li .top .notice {
    width: 140px;
    height: 40px;
    line-height: 20px;
    margin: 5px;
}

.page.pageWelfareList .main .lotteryList li .top .money {
    width: 104px;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.page.pageWelfareList .main .lotteryList li .bottom {
    width: 100%;
    height: 30px;
    background-color: #F6F6F6;
}

.page.pageWelfareList .main .lotteryList li .bottom div {
    float: left;
    height: 30px;
}

.page.pageWelfareList .main .lotteryList li .bottom .notice {
    width: 160px;
    margin-left: 81px;
    line-height: 30px;
    font-size: 14px;
}

.page.pageWelfareList .main .lotteryList li .bottom .time {
    width: 89px;
}

.page.pageWelfareList .main .lotteryList li .bottom .time div {
    float: left;
    height: 20px;
    margin: 5px 0;
    line-height: 20px;
}

.page.pageWelfareList .main .lotteryList li .bottom .time .num {
    color: #FFFFFF;
    margin: 5px 0;
    width: 20px;
    background-color: #000000;
    text-indent: 1px;
    text-align: center;
}

.page.pageWelfareList .banner{
    width: 1219px;
    height: 132px;
    margin: 0 auto;
}