* {
    margin: 0;
    padding: 0;
    outline: none;
}

ul, li {
    list-style: none;
}

body {
    width: 1280px;
    height: 720px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    background: url("../imgs/index/bg.png") 0 0 no-repeat;
    font-family: "黑体";
}

/*index*/
.index.header {
    width: 1280px;
    height: 70px;
    overflow: hidden;
    background-color: #E72432;
    position: relative;
}

.index.header div {
    float: left;
}

.index.header .left {
    width: 91px;
    height: 22px;
    margin: 32px 50px;
}

.index.header .middle {
    width: 656px;
    height: 50px;
    line-height: 50px;
    margin-top: 19px;
    margin-left: 121px;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;

}

.index.header .right {
    width: 212px;
    height: 38px;
    margin: 30px 50px;
}

.index.user {
    width: 1180px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 2;
}

.index.user div {
    float: left;
}

.index.user .userInfo {
    height: 50px;
    line-height: 50px;

}

.index.user .userInfo div {
    margin-right: 20px;
    float: left;
}

.index.user .winInfos {
    width: 488px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-left: 150px;
}

.index.user .winInfos img {
    margin: 7px 5px 0;
    display: block;
}

.index.user .winInfos .wrapper {
    position: absolute;
    width: 423px;
    top: 0;
    left: 65px;
    overflow: hidden;
}

.index.user .winInfos ul {
    float: left;
    transition: all 1s;
    position: relative;
    top: 0;
    left: 0;
}

.index.user .winInfos ul li {
    float: left;
    width: 400px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    margin-right: 23px;
}

.index.user .menus {
    width: 306px;
    height: 50px;
    margin-left: 20px;
}

.index.user .menus ul {
    width: 306px;
    height: 50px;
}

.index.user .menus li {
    float: left;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 10px 1px;
    text-align: center;
    background-color: #e72432;
    color: #FFFFFF;
}

.index.user .func li:focus {
    background-color: #890a14;
}

.page {
    height: 650px;
    width: 1280px;
    transition: all 1s;
    position: relative;
}

/*home*/
.pageHome .logo {
    display: block;
    margin: 35px auto;
}

.pageHome .menus {
    width: 855px;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
}

.pageHome .menus li {
    width: 257px;
    height: 147px;
    margin: 12px;
    border: 2px solid transparent;
    float: left;
    border-radius: 10px;
    overflow: hidden;
}

.pageHome .menus li:focus {
    border: 2px solid #FFFFFF;
    box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.1);
}

/*fuCaiIndex*/
.pageFuCaiIndex .main {
    width: 1180px;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
}

.pageFuCaiIndex .main .video {
    float: left;
    width: 464px;
    height: 384px;
    margin: 8px;
}

.pageFuCaiIndex .main .video video {
    width: 100%;
    height: 100%;
    background: #000000;
}

.pageFuCaiIndex .main .lotteryList {
    float: left;
    width: 700px;
    height: 100%;
}

.pageFuCaiIndex .main .lotteryList li {
    float: left;
    width: 330px;
    margin: 8px;
    border: 2px solid #EBEAEB;
    height: 80px;
    overflow: hidden;
    border-radius: 2px;
}

.pageFuCaiIndex .main .lotteryList li:focus {
    border: 2px solid #E93E4A;
    box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.1);
}

.pageFuCaiIndex .main .lotteryList li .top {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
}

.pageFuCaiIndex .main .lotteryList li .top .logo {
    float: left;
    width: 76px;
    height: 50px;
}

.pageFuCaiIndex .main .lotteryList li .top div {
    float: left;
    height: 50px;
}

.pageFuCaiIndex .main .lotteryList li .top .notice {
    width: 140px;
    height: 40px;
    line-height: 20px;
    margin: 5px;
}

.pageFuCaiIndex .main .lotteryList li .top .money {
    width: 104px;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.pageFuCaiIndex .main .lotteryList li .bottom {
    width: 100%;
    height: 30px;
    background-color: #F6F6F6;
}

.pageFuCaiIndex .main .lotteryList li .bottom div {
    float: left;
    height: 30px;
}

.pageFuCaiIndex .main .lotteryList li .bottom .notice {
    width: 160px;
    margin-left: 81px;
    line-height: 30px;
    font-size: 14px;
}

.pageFuCaiIndex .main .lotteryList li .bottom .time {
    width: 89px;
}

.pageFuCaiIndex .main .lotteryList li .bottom .time div {
    float: left;
    height: 20px;
    margin: 5px 0;
    line-height: 20px;
}

.pageFuCaiIndex .main .lotteryList li .bottom .time .num {
    color: #FFFFFF;
    margin: 5px 0;
    width: 20px;
    background-color: #000000;
    text-indent: 1px;
    text-align: center;
}

.pageFuCaiIndex .banner {
    width: 1219px;
    height: 132px;
    margin: 0 auto;
}

/*kuai3Index*/
.pageKuai3Index .top {
    width: 804px;
    height: 260px;
    overflow: hidden;
    margin: 20px auto;
    background-color: #E72432;
    color: #FFFFFF;
    font-size: 24px;
    text-indent: 2px;
}

.pageKuai3Index .top > div {
    float: left;
    width: 401px;
    margin: 30px 0;
    height: 200px;
}

.pageKuai3Index .top .middle {
    width: 1px;
    border-left: 1px dashed #292929;
    opacity: 0.3;
    height: 170px;
    margin: 45px 0;
}

.pageKuai3Index .top .text {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.pageKuai3Index .top .notice {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.pageKuai3Index .top .left .craps {
    width: 240px;
    height: 80px;
    margin: 0 auto;
}

.pageKuai3Index .top .left .craps img {
    width: 58px;
    height: 58px;
    margin: 11px 11px;
    float: left;
}

.pageKuai3Index .top .right .time {
    width: 120px;;
    height: 80px;
    margin: 0 auto;
}

.pageKuai3Index .top .right .time div {
    float: left;
    height: 50px;
    width: 20px;
    line-height: 50px;
    margin-top: 15px;
    color: #000000;
    font-size: 32px;
    text-indent: 1px;
    text-align: center;
}

.pageKuai3Index .top .right .time .num {
    color: #FFFFFF;
    width: 50px;
    background-color: #000000;

}

.pageKuai3Index .bottom {
    width: 822px;
    height: 212px;
    overflow: hidden;
    margin: 0 auto;
}

.pageKuai3Index .bottom li {
    float: left;
    width: 150px;
    height: 90px;
    margin: 6px 5px;
    border: 2px solid transparent;
}

.pageKuai3Index .bottom li:focus {
    border: 2px solid #FFFFFF;
    box-shadow: 3px 4px 20px 3px rgba(0, 0, 0, 0.1);
}

/*kuai3Buy*/
.pageKuai3Buy {
    color: #1f1f1f;
}

.pageKuai3Buy > .title {
    height: 40px;
    margin: 20px auto;
    line-height: 40px;
    width: 500px;
    text-align: center;
    font-size: 34px;
}

.pageKuai3Buy > .top {
    width: 806px;
    height: 130px;
    overflow: hidden;
    margin: 20px auto;
    background-color: #EDEDED;
    color: #FFFFFF;
    font-size: 26px;
    text-indent: 2px;
}

.pageKuai3Buy .top div {
    float: left;
}

.pageKuai3Buy .top > div {
    float: left;
    width: 400px;
    height: 130px;
}

.pageKuai3Buy .top .middle {
    width: 5px;
    border-left: 1px dashed #c0bfc0;
    height: 95px;
    margin: 15px 0;
}

.pageKuai3Buy .top .text {
    width: 110px;
    height: 110px;
    line-height: 58px;
    text-align: center;
    color: #828282;
    margin-top: 20px;
}

.pageKuai3Buy .top .notice {
    width: 240px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    color: #000000;
}

.pageKuai3Buy .top .left .craps {
    width: 240px;
    height: 58px;
    margin: 20px auto 0;
}

.pageKuai3Buy .top .left .craps img {
    width: 58px;
    height: 58px;
    margin: 0 11px;
    float: left;
}

.pageKuai3Buy .top .right .time {
    width: 120px;;
    height: 58px;
    margin: 20px 60px 0;
}

.pageKuai3Buy .top .right .time div {
    float: left;
    height: 50px;
    width: 20px;
    line-height: 50px;
    margin-top: 4px;
    color: #000000;
    font-size: 32px;
    text-indent: 1px;
    text-align: center;
}

.pageKuai3Buy .top .right .time .num {
    color: #FFFFFF;
    width: 50px;
    background-color: #000000;

}

.pageKuai3Buy > .middle {
    width: 806px;
    margin: 30px auto;
}

.pageKuai3Buy > .bottom {
    width: 806px;
    height: 100px;
    margin: 10px auto 0;
    position: absolute;
    bottom: 100px;
    left: 237px;
}

.pageKuai3Buy > .bottom .submit {
    width: 244px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    background-color: #E72432;
    color: #FFFFFF;
    font-size: 26px;
    text-align: center;
}

.pageKuai3Buy > .bottom .notice {
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 10px auto;
    color: #e72432;
}

.pageKuai3Buy > .middle .hezhi {
    width: 804px;
    height: 90px;
    border: 1px solid #DBDBDB;
    background-color: #EDEDED;
}

.pageKuai3Buy > .middle .hezhi div {
    float: left;
    text-align: center;
}

.pageKuai3Buy > .middle .hezhi li {
    float: left;
    width: 52px;
    height: 90px;
    text-align: center;
}

.pageKuai3Buy > .middle .hezhi li:focus .num {
    background-color: #E72432;
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .hezhi li:first-child {
    width: 76px;
    height: 90px;
    line-height: 90px;
    font-size: 25px;
    border: none;
}

.pageKuai3Buy > .middle .hezhi li:first-child:focus {
    background-color: #E72432;
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .hezhi li .num {
    width: 51px;
    height: 55px;
    line-height: 55px;
    border-left: 1px solid #DBDBDB;
    font-size: 24px;
}

.pageKuai3Buy > .middle .hezhi li .money {
    height: 34px;
    line-height: 34px;
    width: 51px;
    border-top: 1px solid #DBDBDB;
    border-left: 1px solid #DBDBDB;
    font-size: 19px;
}

.pageKuai3Buy > .middle .santonghao {
    width: 804px;
    height: 110px;
    border: 1px solid #DBDBDB;
    background-color: #EDEDED;
}

.pageKuai3Buy > .middle .santonghao div {
    float: left;
    text-align: center;
}

.pageKuai3Buy > .middle .santonghao li {
    width: 110px;
    height: 110px;
    border-left: 1px solid #DBDBDB;
    float: left;
}

.pageKuai3Buy > .middle .santonghao li:focus {
    background-color: #E72432;
}

.pageKuai3Buy > .middle .santonghao li:focus .money {
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .santonghao li:first-child {
    width: 138px;
    height: 110px;
    border: none;
}

.pageKuai3Buy > .middle .santonghao li:first-child:focus {
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .santonghao li:first-child:focus .notice {
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .santonghao li:first-child .title {
    width: 138px;
    height: 35px;
    line-height: 35px;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    float: none;
}

.pageKuai3Buy > .middle .santonghao li:first-child .notice {
    width: 115px;
    height: 60px;
    line-height: 20px;
    margin: 0 auto;
    float: none;
    font-size: 19px;
    color: #828282;
}

.pageKuai3Buy > .middle .santonghao li .craps {
    width: 110px;
    height: 33px;
    margin: 30px 0 5px;
}

.pageKuai3Buy > .middle .santonghao li .craps img {
    margin-left: 2px;
}

.pageKuai3Buy > .middle .santonghao li .money {
    width: 110px;
    height: 30px;
    line-height: 30px;
    color: #828282;
}

.pageKuai3Buy > .middle .sanlianhao {
    width: 256px;
    height: 110px;
    margin: 0 auto;
    background-color: #EDEDED;
    border: 1px solid #DBDBDB;
}

.pageKuai3Buy > .middle .common {
    width: 256px;
    height: 110px;
    text-align: center;
    font-size: 20px;
    float: left;
}

.pageKuai3Buy > .middle .common:focus {
    background-color: #E72432;
    color: #FFFFFF;
    box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.1);
}

.pageKuai3Buy > .middle .common:focus .notice, .pageKuai3Buy > .middle .common:focus .money {
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .common .title {
    width: 256px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}

.pageKuai3Buy > .middle .common .notice {
    width: 256px;
    height: 30px;
    line-height: 30px;
    color: #828282;
}

.pageKuai3Buy > .middle .common .money {
    width: 256px;
    height: 30px;
    line-height: 30px;
    color: #828282;
}

.pageKuai3Buy > .middle .renxuan {
    width: 804px;
    height: 131px;
}

.pageKuai3Buy > .middle .renxuan > div {
    float: left;
    background-color: #EDEDED;
    overflow: hidden;
}

.pageKuai3Buy > .middle .renxuan .random {
    width: 201px;
    height: 100%;
}

.pageKuai3Buy > .middle .renxuan .random .craps {
    width: 101px;
    height: 28px;
    background: url("../imgs/kuai3/craps_jixuan.png") no-repeat;
    margin: 30px auto 20px;
}

.pageKuai3Buy > .middle .renxuan .random:focus {
    background-color: #E72432;
}

.pageKuai3Buy > .middle .renxuan .random:focus .craps {
    background: url("../imgs/kuai3/craps_jixuan_focus.png") no-repeat;
}

.pageKuai3Buy > .middle .renxuan .random:focus .title {
    color: #FFFFFF;
}

.pageKuai3Buy > .middle .renxuan .random .title {
    width: 201px;
    height: 30px;
    line-height: 30px;
    font-size: 26px;
    text-align: center;
}

.pageKuai3Buy > .middle .renxuan .choice {
    width: 189px;
    height: 130px;
    margin-left: 11px;
    border: 1px solid #D1D1D1;
    border-left: none;
}

.pageKuai3Buy > .middle .renxuan .choice .title {
    width: 188px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 19px;
    border-left: 1px solid #D1D1D1
}

.pageKuai3Buy > .middle .renxuan .choice li {
    float: left;
    width: 62px;
    height: 44px;
    border-top: 1px solid #D1D1D1;
    border-left: 1px solid #D1D1D1;
}

.pageKuai3Buy > .middle .renxuan .choice li img {
    margin-left: 15px;
    margin-top: 6px;
}



