.pageKuai3Buy {
    color: #1f1f1f;
}

.pageKuai3Buy > .title {
    height: 40px;
    margin: 10px auto;
    line-height: 40px;
    width: 500px;
    text-align: center;
    font-size: 34px;
}

.pageKuai3Buy > .top {
    width: 806px;
    height: 130px;
    overflow: hidden;
    margin: 10px auto;
    background-color: #EDEDED;
    color: #FFFFFF;
    font-size: 26px;
    text-indent: 2px;
}

.pageKuai3Buy .top div {
    float: left;
}

.pageKuai3Buy .top > div {
    float: left;
    width: 400px;
    height: 130px;
}

.pageKuai3Buy .top .middle {
    width: 5px;
    border-left: 1px dashed #c0bfc0;
    height: 95px;
    margin: 15px 0;
}

.pageKuai3Buy .top .text {
    width: 110px;
    height: 110px;
    line-height: 58px;
    text-align: center;
    color: #828282;
    margin-top: 20px;
}

.pageKuai3Buy .top .notice {
    width: 240px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    color: #000000;
}

.pageKuai3Buy .top .left .craps {
    width: 240px;
    height: 58px;
    margin: 20px auto 0;
}

.pageKuai3Buy .top .left .craps img {
    width: 58px;
    height: 58px;
    margin: 0 11px;
    float: left;
}

.pageKuai3Buy .top .right {
    position: relative;
}

.pageKuai3Buy .top .right .time {
    width: 120px;;
    height: 58px;
    margin: 20px 60px 0;
    opacity: 0;
    transition: opacity .3s;
}

.pageKuai3Buy .top .right .time div {
    float: left;
    height: 50px;
    width: 20px;
    line-height: 50px;
    margin-top: 4px;
    color: #000000;
    font-size: 32px;
    text-indent: 1px;
    text-align: center;
}

.pageKuai3Buy .top .right .time .num {
    color: #FFFFFF;
    width: 50px;
    background-color: #000000;

}

.pageKuai3Buy .top .right .timeEnd {
    width: 120px;
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity .3s;
    position: absolute;
    left: 170px;
    top: 24px;
    font-size: 24px;
}

.pageKuai3Buy > .middle {
    width: 806px;
    margin: 20px auto 0;
}

.pageKuai3Buy > .bottom {
    width: 806px;
    height: 95px;
    position: absolute;
    top: 460px;
    left: 237px;
    overflow: hidden;
}

.pageKuai3Buy > .bottom .submit {
    width: 244px;
    height: 55px;
    line-height: 55px;
    margin: 0 auto;
    background-color: #E72432;
    color: #FFFFFF;
    font-size: 26px;
    text-align: center;
}

.pageKuai3Buy > .bottom .notice {
    width: 300px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 10px auto;
    color: #e72432;
}