<div class="title">
    {{mode.name}}
</div>

<div class="top">
    <div class="left">
        <div class="text">
            上期
        </div>
        <div class="craps">
            <img ng-repeat="c in info.last.craps" ng-src="imgs/kuai3/craps_{{c}}.png" alt="">
        </div>
        <div class="notice">
            和值：{{info.last.sum}}
        </div>
    </div>
    <div class="middle">
    </div>
    <div class="right">
        <div class="text">
            本期
        </div>
        <div class="time" ng-class="{opacityShow:info.current.canBetting}">
            <div class="m num">
                {{info.current.remainingTime.m}}
            </div>
            <div>
                :
            </div>
            <div class="s num">
                {{info.current.remainingTime.s}}
            </div>
        </div>
        <div class="timeEnd" ng-class="{opacityShow:!info.current.canBetting}">
            截止
        </div>
        <div class="notice">
            倒计时
        </div>
    </div>
</div>
<div class="middle {{mode.id}}" ui-view>


</div>
<div class="bottom">
    <div class="submit">提交</div>
    <div class="notice">提示：按“左右”选号，按“确定”提交</div>
</div>