<div class="top">
    <div class="left">
        <div class="text">
            上期
        </div>
        <div class="craps">
            <img ng-repeat="c in info.last.craps  track by $index" src="imgs/kuai3/craps_{{c}}.png" alt="">
        </div>
        <div class="notice">
            和值：{{info.last.sum}}
        </div>
    </div>
    <div class="middle"></div>
    <div class="right">
        <div class="text">
            本期
        </div>
        <div class="time" ng-class="{opacityShow:info.current.canBetting}">
            <div class="m num">
                {{info.current.remainingTime.m}}
            </div>
            <div>
                :
            </div>
            <div class="s num">
                {{info.current.remainingTime.s}}
            </div>
        </div>
        <div class="timeEnd" ng-class="{opacityShow:!info.current.canBetting}">
            截止
        </div>
        <div class="notice">
            倒计时
        </div>
    </div>
</div>
<div class="bottom">
    <ul>
        <li kuai3-index-menu-key-listener ng-repeat="menu in menus" tabindex="-1">
            <img src="imgs/kuai3/{{menu.id}}.png" alt="">
        </li>
    </ul>
</div>