<div class="pageTitle">
    中奖记录
</div>
<div class="main">
    <div class="top">
        <ul>
            <li my-win-record-key-listener ng-repeat="ll in lotteryList" name="ll.id" tabindex="-1">
                {{ll.name}}
            </li>
        </ul>
    </div>
    <div class="table">
        <div class="thead">
            <div>类型</div>
            <div>期号</div>
            <div>投注方式</div>
            <div>中奖金额</div>
            <div>状态</div>
            <div style="width:174px">投注时间</div>
            <div>详细</div>
        </div>
        <div class="tbody" id="detailList">
            <ul>
                <li ng-repeat="one in detailList">
                    <div>
                        <img src="imgs/fucai/Kuai3_logo.png" class="logo">
                    </div>
                    <div>
                        {{one.period}}
                    </div>
                    <div>
                        {{one.details[0].method | myWinRecordMethod}}
                    </div>
                    <div ng-bind-html="one.amount | myWinRecordAmount:one.amount:one.nos">
                    </div>
                    <div ng-bind-html="one.nos | myWinRecordNos">
                    </div>
                    <div style="width:174px">
                        {{one.bettingTime | myWinRecordTime}}
                    </div>
                    <div>
                        <div tabindex="-1" my-win-record-list-key-listener class="detail">查看</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div id="pageCtrl" class="pageCtrl">
        <img src="imgs/common/pageUp.png" alt="" class="pageUp" tabindex="-1" idx="0"
             page-ctrl-key-listener>
        <div class="pageDetail"><span class="red">{{pageInfo.current}}</span>/{{pageInfo.total}}</div>
        <img src="imgs/common/pageDown.png" alt="" class="pageDown" tabindex="-1" idx="1">
    </div>
</div>


<div tabindex="-1" detail-table class="detailTable" ng-class="{opacityShow:detailTable.isShow}"
     ng-show="detailTable.isShow">
    <div class="top">
        投注记录详情
    </div>
    <div class="middle">
        <div class="title">
            {{detailTable.name}} - {{detailTable.period}}期
        </div>
        <div>投注金额：{{detailTable.money}}元</div>
        <div>投注方式：{{detailTable.bettingTypeStr}}</div>
        <div>投注号码：{{detailTable.craps}}</div>
        <div>投注倍数：{{detailTable.multiple}}</div>
        <div>投注时间：{{detailTable.time}}</div>
        <div>投注状态：成功</div>
    </div>
    <div class="bottom">
        <div>
            开奖号码：{{detailTable.nos}}
        </div>
    </div>
</div>