<div class="top">
    <div class="left">
        <div class="text">
            上期
        </div>
        <div class="craps">
            <img ng-repeat="c in info.craps" src="imgs/kuai3/craps_{{c}}.png" alt="">
        </div>
        <div class="notice">
            {{info.notice}}
        </div>
    </div>
    <div class="middle"></div>
    <div class="right">
        <div class="text">
            本期
        </div>
        <div class="time" kuai3-timekeeper>
            <div class="h num">
                {{info.time.m}}
            </div>
            <div>
                :
            </div>
            <div class="s num">
                {{info.time.s}}
            </div>
        </div>
        <div class="notice">
            倒计时
        </div>
    </div>
</div>
<div class="bottom">
    <ul>
        <li kuai3-index-menu-key-listener ng-repeat="menu in menus" tabindex="-1">
            <img src="imgs/kuai3/{{menu.id}}.png" alt="">
        </li>
    </ul>
</div>