<div class="renxuan">
    <div class="random">
        <div class="craps"></div>
        <div class="title">任选机选</div>
    </div>
    <div class="choice">
        <div class="title">
            第一个号
        </div>
        <ul>
            <li ng-repeat="i in [1,2,3,4,5,6]">
                <img src="imgs/kuai3/craps_min_{{i}}.png" alt="">
            </li>
        </ul>

    </div>
    <div class="choice">
        <div class="title">
            第二个号
        </div>
        <ul>
            <li ng-repeat="i in [1,2,3,4,5,6]">
                <img src="imgs/kuai3/craps_min_{{i}}.png" alt="">
            </li>
        </ul>
    </div>
    <div class="choice">
        <div class="title">
            第三个号
        </div>
        <ul>
            <li ng-repeat="i in [1,2,3,4,5,6]">
                <img src="imgs/kuai3/craps_min_{{i}}.png" alt="">
            </li>
        </ul>
    </div>
</div>