.pageFuCaiIndex .main {
    width: 1180px;
    height: 400px;
    margin: 20px auto;
    overflow: hidden;
}

.pageFuCaiIndex .main .video {
    float: left;
    width: 464px;
    height: 384px;
    margin: 8px;
}

.pageFuCaiIndex .main .video video {
    width: 100%;
    height: 100%;
    background: #000000;
}

.pageFuCaiIndex .main .lotteryList {
    float: left;
    width: 700px;
    height: 100%;
}

.pageFuCaiIndex .main .lotteryList li {
    float: left;
    width: 330px;
    margin: 8px;
    border: 2px solid #EBEAEB;
    height: 80px;
    overflow: hidden;
    border-radius: 2px;
}

.pageFuCaiIndex .main .lotteryList li:focus {
    border: 2px solid #E93E4A;
    box-shadow: 5px 7px 20px 5px rgba(0, 0, 0, 0.1);
}

.pageFuCaiIndex .main .lotteryList li .top {
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
}

.pageFuCaiIndex .main .lotteryList li .top .logo {
    float: left;
    width: 76px;
    height: 50px;
}

.pageFuCaiIndex .main .lotteryList li .top div {
    float: left;
    height: 50px;
}

.pageFuCaiIndex .main .lotteryList li .top .notice {
    width: 140px;
    height: 40px;
    line-height: 20px;
    margin: 5px;
}

.pageFuCaiIndex .main .lotteryList li .top .money {
    width: 104px;
    line-height: 50px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.pageFuCaiIndex .main .lotteryList li .bottom {
    width: 100%;
    height: 30px;
    background-color: #F6F6F6;
}

.pageFuCaiIndex .main .lotteryList li .bottom div {
    float: left;
    height: 30px;
}

.pageFuCaiIndex .main .lotteryList li .bottom .notice {
    width: 160px;
    margin-left: 81px;
    line-height: 30px;
    font-size: 14px;
}

.pageFuCaiIndex .main .lotteryList li .bottom .time {
    width: 89px;
}

.pageFuCaiIndex .main .lotteryList li .bottom .time div {
    float: left;
    height: 20px;
    margin: 5px 0;
    line-height: 20px;
}

.pageFuCaiIndex .main .lotteryList li .bottom .time .num {
    color: #FFFFFF;
    margin: 5px 0;
    width: 20px;
    background-color: #000000;
    text-indent: 1px;
    text-align: center;
}

.pageFuCaiIndex .banner {
    width: 1219px;
    height: 132px;
    margin: 0 auto;
}

