<div class="main">
    <div class="video">
        <video src="http://family.digital-media.com.cn/family/video/introducevideo/introducevideo.mp4" autoplay></video>
    </div>
    <div class="lotteryList">
        <ul>
            <li fu-cai-index-list-key-listener ng-repeat="one in lotteryList" tabindex="-1">
                <div class="top">
                    <img class="logo" ng-src="imgs/fucai/{{one.id}}_logo.png" alt="">
                    <div class="notice">{{one.notice}}</div>
                    <div class="money">{{one.money}}</div>
                </div>
                <div class="bottom">
                    <div class="notice">距{{one.current.period}}期投注截止</div>
                    <div class="time" ng-class="{opacityShow:one.current.canBetting}">
                        <div class="h num" ng-class="{red:one.isRed}">{{one.current.remainingTime.h}}</div>
                        <div>:</div>
                        <div class="m num" ng-class="{red:one.isRed}">{{one.current.remainingTime.m}}</div>
                        <div>:</div>
                        <div class="s num" ng-class="{red:one.isRed}">{{one.current.remainingTime.s}}</div>
                    </div>
                    <div class="timeEnd" ng-class="{opacityShow:!one.current.canBetting}">
                        截止
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="banner">
    <img src="imgs/fucai/banner.jpg" alt="">
</div>