<div id="renxuan" class="renxuan">
    <div tabindex="-1" class="random" kuai3-ren-xuan-random-key-listener>
        <div class="craps"></div>
        <div class="title">任选机选</div>
    </div>
    <div class="choice">
        <div class="title">
            第一个号
        </div>
        <ul id="renxuan_0">
            <li ng-repeat="i in [1,2,3,4,5,6]" kuai3-ren-xuan-one-choice-key-listener tabindex="-1">
                <div>
                    <img ng-src="imgs/kuai3/craps_min_{{i}}.png" alt="">
                </div>
            </li>
        </ul>

    </div>
    <div class="choice">
        <div class="title">
            第二个号
        </div>
        <ul id="renxuan_1">
            <li ng-repeat="i in [1,2,3,4,5,6]" kuai3-ren-xuan-two-choice-key-listener tabindex="-1">
                <div>
                    <img ng-src="imgs/kuai3/craps_min_{{i}}.png" alt="">
                </div>
            </li>
        </ul>
    </div>
    <div class="choice">
        <div class="title">
            第三个号
        </div>
        <ul id="renxuan_2">
            <li ng-repeat="i in [1,2,3,4,5,6]" kuai3-ren-xuan-three-choice-key-listener tabindex="-1">
                <div>
                    <img ng-src="imgs/kuai3/craps_min_{{i}}.png" alt="">
                </div>
            </li>
        </ul>
    </div>


    <div class="button" kuai3-ren-xuan-enter-key-listener tabindex="-1"></div>
</div>